:local(.root) {
  display: block;
  position: relative;
}

:local(.main) {
  position: fixed;
  width: 100%;
  display: flex;
  height: calc(100% - var(--header-height));
  bottom: 0;
  left: 0;
}

:local(.viz) {
  position: relative;
  width: 50%;
  height: 100%;
  flex: 1;

  &:first-of-type {
    border-right: 1px solid var(--blue);
  }
}
