.app {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

circle {
  opacity: .1;
  transition: opacity .3s;
  cursor: pointer;
}

circle:hover {
  opacity: .4;
  transition: opacity .3s;
}
