@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.app {}

.app__nav {
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  border-bottom: 1px solid #DDD;
}

.app__main {
  position: fixed;
  width: 100%;
  display: flex;
  height: calc(100% - 80px);
  bottom: 0;
  left: 0;
}

.app__viz {
  width: 50%;
  height: 100%;
  flex: 1;
}

.app__viz:first-of-type {
  border-right: 1px solid #DDD;
}

h1 {
  text-align: center;
  padding: 0 25px;
  width: 100%;
  margin: auto;
  color: #666;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
}

.units-container {
  margin: auto;
}

circle {
  opacity: .1;
  transition: opacity .3s;
  cursor: pointer;
}

circle:hover {
  opacity: .6;
  transition: opacity .3s;
}
