doctype html
html
  head
    title.
      Splyt Light Interactive
    meta(name='description', content='Drawing app for splytlight.')
    meta(name='keywords', content='draw, splyt light, design, computation, parametric, tree')
    meta(charset='utf-8')
    meta(name='HandheldFriendly', content='True')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type='application/ld+json').
      {
        "@context": "https://schema.org",
        "@type": "Website",
        "publisher": "Splyt Light",
        "url": "http://splytlight.surge.sh/",
        "description": "Visualization experiments"
      }
  body
    include ./svg-sprite.pug
    #app
