@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  --blue: #638FBE;
  --brown: #201A16;
  --white: #FFFFFF;
  --green: #32A621;
  --red: #BF0015;

  --header-height: 60px;
  --standard-padding: 20px;
}

p {
  font-size: 1rem;
  letter-spacing: .03rem;
  font-weight: 400;
}
